@import url('https://fonts.googleapis.com/css2?family=Frances&family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

h1, h2 {
  font-family: 'Frances', cursive;
}

p {
  font-size: 16px;
}
